<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>only the best deals</title>
    <link href="/bootstrap/css/bootstrap.min.css" media="all" rel="stylesheet" />
    <link href="/components-font-awesome/css/font-awesome.min.css" media="all" rel="stylesheet" />
    <link href="/bootstrap-social/bootstrap-social.css" media="all" rel="stylesheet" />
    <link href="/public/css/main.css" media="all" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet" type="text/css">

    <!-- Facebook SDK -->
    <script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '219904405038361',
            xfbml      : true,
            version    : 'v2.5'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- twitter follow script -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</head>
<body>
    <div class="container">
        {{{body}}}
    </div>

    <!-- Load scripts at end of body -->
    <script src="/jquery/jquery.min.js" charset="utf-8"></script>
    <script src="/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
</body>
<footer>
</footer>
</html>
