<!doctype html>
<html>
<head>
    <meta name="description" content="Only the best deals on the internet can be found here.">
    <meta charset="utf-8" />

    <title>only the best deals</title>

    <!-- Dependency styles -->
    <link href="/bootstrap/css/bootstrap.min.css" media="all" rel="stylesheet" />
    <link href="/components-font-awesome/css/font-awesome.min.css" media="all" rel="stylesheet" />
    <link href="/bootstrap-social/bootstrap-social.css" media="all" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet" type="text/css">

    <!-- otbd styles -->
    <link href="/public/css/main.css" media="all" rel="stylesheet">
    <link href="/public/css/card.css" media="all" rel="stylesheet">
</head>
<body>
    <div class="container">
        {{{body}}}
    </div>

    <!-- Load scripts at end of body -->
    <script src="/jquery/jquery.min.js" charset="utf-8"></script>
    <script src="/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="/public/js/social-media.js" charset="utf-8"></script>
    <script src="/public/js/bookmark.js" charset="utf-8"></script>
    <script src="/public/js/google-analytics.js" charset="utf-8"></script>
    <script src="/public/js/search.js" charset="utf-8"></script>
    <script src="//localhost:35729/livereload.js"></script>
</body>
<footer>
</footer>
</html>
