<!doctype html>
<nav class="navbar navbar-default otbd-background">
    <h1 class="logo horizontal-center"><a href="/express" class="otbd-link">deals express</a>
    </h1>
</nav>
<form action="/express" method="get" id="express" class="navbar-form navbar-right">
    <div class="input-group">
        <input type="text" class="form-control" id="search-input" name="q" value="{{placeholder}}">
        <span class="input-group-btn">
            <button class="btn btn-default" id="search-button" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
    </div>
</form>
