<!doctype html>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron otbd-background">
    <div class="container">
        <h1 class="logo horizontal-center"><a href="/" class="otbd-link">only the best deals</a></h1>
        <h2>FAQs:</h2>
        <h3>What do you mean by "only the best deals?"</h3>
        <p>
            That is simple. We are going to scour the internet to find the best deals and only the best deals. You won't find all deals here. We won't show you the bad deals, okay deals, good deals, or even some great deals. Just the best and only the best.
        </p>
        <h3>Do we guarantee that we will have the best deals?</h3>
        <p>
            No, of course not. That would be silly, the internet is a huge place. However, we will do our best! That is, quite literally, our mission.
        </p>
        <h3>How do you define "best deal?"</h3>
        <p>
            We will search for as many deals online as our servers allow. We will then show you only the deals with the highest percent off the original price. How high of a percent off will be determined with research as we develop this site.
        </p>
        <h3>Is any of this subject to change?</h3>
        <p>
            Yes, of course! We want to provide you with what you want. If we determine that you don't want the best deals and instead only want the worst deals, then that is what we will provide.
        </p>
        
        <div class="social">
            <div class="fb-like facebook" data-href="https://www.facebook.com/onlythebestdealsdotnet/" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
            <div class="twitter">
                <a href="https://twitter.com/otbd_" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @otbd_</a>
            </div>
        </div>
    </div>
</div>
