<!doctype html>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron otbd-background">
    <div class="container">
        <h1 class="logo horizontal-center"><a href="/" class="otbd-link">only the best deals</a></h1>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <form action="/search" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search-input" name="query" value="{{placeholder}}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="search-button" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>
</div>
{{#if results}}
    <div class="results">
        {{#each results}}
          <li>{{this}}</li>
        {{/each}}
    </div>
{{/if}}
