<!doctype html>
{{> page/nav}}

{{#if results}}
    <div class="row results">
        {{#each results}}
            <div class="col-md-3">
                <img src="{{this.image}}">
                <div><a href="{{this.url}}" target="_blank">{{this.title}}</a></div>
            </div>
        {{/each}}
    </div>
{{/if}}
