<!doctype html>
<!-- <h1>Only The Best Deals</h1>

<div>Coming Soon</div>

<div>Not all of the deals. Only the best deals. Soon you will be able to find the best deals across the internet in one place. Here. We won't have all of the deals. We are in fact skipping the deals that aren't the best.</div> -->

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron otbd-background">
    <div class="container">
        <h1>Welcome to <span class="logo">only the best deals</span></h1>
        <a href="https://twitter.com/otbd_" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @otbd_</a>
        <div class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
        </div>
        <p>
            Soon you will be able to find, you guessed it, only the best deals right here! Like or follow us to stay up to date on when the best deals can be found.
        </p>
        <h2>Q & A:</h2>
        <h3>What do you mean by "only the best deals?"</h3>
        <p>
            That is simple. We are going to scour the internet to find the best deals and only the best deals.
        </p>
        <h3>Do we guarantee that we will have the best deals?</h3>
        <p>
            No, of course not. That would be silly. The internet is a huge place. But we will do our best! That is, quite literally, our mission here.
        </p>
    </div>
</div>
