<!doctype html>
<!-- <h1>Only The Best Deals</h1>

<div>Coming Soon</div>

<div>Not all of the deals. Only the best deals. Soon you will be able to find the best deals across the internet in one place. Here. We won't have all of the deals. We are in fact skipping the deals that aren't the best.</div> -->

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to onlythebestdeals.net</h1>
        <p>Soon you will be able to find, you guessed it, only the best deals!</p>
        <a href="https://twitter.com/otbd_" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @otbd_</a>
        <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
    </div>
</div>
</div>
