/*
Dominant color: #99cc66 rgb(153, 204, 102) emulating #85bb65 Dollar bill
Support color: #66cc66 rgb(102, 204, 102)
Accent color: #cccc66 rgb(204, 204, 102)
*/



.card {
    border: 0.01em solid rgb(102, 204, 102);
    border: 0.01em solid rgba(102, 204, 102, .5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

    margin: 1em;
}

.product {
    opacity: 2;
}

.product-image {
    text-align: center;
}

.product-price {
    color: #66cc66;
}

.product-title {
    color: black;
}

.product-link {
    color: black;
}

.product-link:hover {
    text-decoration: none;
}
