/*
Dominant color: #99cc66 rgb(153, 204, 102) emulating #85bb65 Dollar bill
Support color: #66cc66 rgb(102, 204, 102)
Accent color: #cccc66 rgb(204, 204, 102)
Might drop the colors above for the following:
Dominant color: teal
Support color: navy
*/

.logo {
    font-family: 'Mr Dafoe', cursive;
    margin: auto; /* TODO - get rid of this */
    padding: 0.1em;
}

.nav-logo {
    margin-left: 2em;
}

.nav-search {
    margin-right: 2em;
}


.otbd-background {
    background-color: teal;
    color: white;
}

.horizontal-center {
    text-align: center;
}

.otbd-link {
    color: white;
}

.otbd-link:hover {
    color: white;
    text-decoration: none;
}

.social {
    position:relative;
    text-align: center;
    padding: 10px;
}

.facebook {
    transform: scale(1.4);
    margin: auto;
    padding: inherit;
}

.twitter {
    margin: auto;
    padding: inherit;
}
