/*
Dominant color: #85bb65
Support color: #65bb70
Accent color: #b0bb65
*/
.logo {
    font-family: 'Mr Dafoe', cursive;
    margin: auto;
    padding: 0.1em;
}

.nav-logo {
    margin-left: 2em;
}

.nav-search {
    margin-right: 2em;
}


.otbd-background {
    background-color: #85bb65;
    color: white;
    text-shadow: -0.01em 0 DarkGreen, 0 0.01em DarkGreen, 0.01em 0 DarkGreen, 0 -0.01em DarkGreen;
}

.horizontal-center {
    text-align: center;
}

.otbd-link {
    color: white;
    text-shadow: -0.01em 0 DarkGreen, 0 0.01em DarkGreen, 0.01em 0 DarkGreen, 0 -0.01em DarkGreen;
}

.otbd-link:hover {
    color: white;
    text-shadow: -0.01em 0 DarkGreen, 0 0.01em DarkGreen, 0.01em 0 DarkGreen, 0 -0.01em DarkGreen;
    text-decoration: none;
}

.social {
    position:relative;
    text-align: center;
    padding: 10px;


}

.facebook {
    transform: scale(1.4);
    margin: auto;
    padding: inherit;
}

.twitter {
    margin: auto;
    padding: inherit;
}
